{% extends 'base.html' %}
{% load static %}
{% block title %}{{ category }}{% endblock %}
{% block styles %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'css/category_products.css' %}">
{% endblock %}
{% block body %}
<div class="container py-5 product-category-container">
  <h1 class="h2 text-center mb-4">Category: {{ category }}</h1>
  <div class="row row-cols-1 row-cols-md-4 row-cols-sm-2 g-4">
    {% if products %}
    {% for product in products %}
    <div class="col mb-4">
      <div class="card h-100 shadow-sm">
        <img src="{{ product.featured_image.url }}" class="card-img-top" alt="Product Image">
        <div class="card-body">
          <a class="text-dark text-decoration-none" href="{% url 'single_product' product.product_slug %}"><h5 class="card-title">{{ product.product | truncatechars:18 }}</h5></a>
          <p class="card-text">{{ product.product_description | truncatechars:55 }}</p>
          <div class="d-flex justify-content-between align-items-center">
            <small class="text-muted">${{product.price}}</small>
            {% if product.product_quantity >= 1 %}
            <a href="{% url 'add_cart' product.id %}" class="btn btn-sm btn-light border">Add to Cart</a>
            {% else %}
            <a disabled class="btn btn-sm btn-light border text-danger">SOLD OUT</a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    {% endfor %} 
    {% endif %}
    
    
  </div>
</div>
{% endblock %}
